
client/node_modules
client/dist

a1.pem
backEndWorking/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
client/dist
client/tmp
client/out-tsc

# dependencies
client/node_modules

# IDEs and editors
client/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
client/.sass-cache
client/connect.lock
client/coverage
client/libpeerconnection.log
npm-debug.log
testem.log
client/typings

# e2e
client/e2e/*.js
client/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
