<div fxLayout="column" fxLayoutGap="10px">
    <h5>Question</h5>
    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="end center">
        <ckeditor [(ngModel)]="content" [config]="config" [readonly]="false" (change)="onChange($event)" (ready)="onReady($event)" (focus)="onFocus($event)" (blur)="onBlur($event)" debounce="500">
        </ckeditor>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button md-button (click)="clear()">Clear</button>
        <button md-raised-button color="primary" (click)="save()">Submit</button>
    </div>
</div>